<!doctype html>
<html>

<head>
    <title>Movies</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Movie Recommender System</h1>
    <label for="input_movies">Choose a movie from the list:</label>
    <input list="movies" name="input_movies" id="input_movies" style="width: 200px;">
    <datalist id="movies">
            {% for movie in mlist %}
                <option value="{{movie}}">
                {% endfor %}
    </datalist>
    <input type="button" id="submit" value="Submit" style="background-color:beige;">
    
    <h3 style="margin-top: 50px;">Similar Movies</h3>
    <p id="result"></p>
</body>

</html>